/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
$base-color:dynamic(#002561);
$form-field-border-color:dynamic(#002561);
$tabbar-strip-background-color:dynamic(#002561);
$panel-body-background-color:dynamic(#F0F0F0);
$panel-base-color:dynamic(#002561);
$panel-header-background-color:dynamic(#002561);


